*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: sans-serif;
    background-color: #0892D0;
    padding: 4rem;
}

.cards{
    height: 85vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 2rem;
}


.card{
    list-style: none;
    background: rgba(255, 255, 255,0.9);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card--first{
    grid-column: 1 / 5;
    grid-row: 1 / 7;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.card--first > input{
    width: 70%;
    height: 4rem;
    font-size: 2rem;
    font-family: sans-serif;
    padding-left: 1rem;
}


.card--second{
    padding: 2rem;
    grid-column: 5 / 13;
    grid-row: 1 / 9;
}

.card--second > h2{
    grid-column: 8 / 10;
    grid-row: 1 / 2;
}

.card--third{
    grid-row: 7 / 13;
    grid-column: 2 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    padding: 4rem;
}

.card--third > img{
    width: 65%;
    height: 65%;
    object-fit: contain;
}

.card--third > button{
    width: 15rem;
    height: 6rem;
    font-size: 2rem;
    font-family: sans-serif;
    border: none;
    background: #0892D0;
    color: white;
    border-radius: 0.5rem;
    margin: 0.3rem;

}

@media screen and (max-width: 87.5rem) {
    .card--second{
        grid-row: 1 / 13;
    }
    .card--third{
        grid-column: 1 / 5;
    }
}

@media screen and (max-width: 62.5rem ){
.card--first, .card--second{
    display: none;
}

.card--third{
    grid-column: 1 / 13;
    grid-row: 1 / 13;
}
}